export(betareg_robust)
export(robust_test_wald)
export(robust_test_score) 
export(robust_test_lr)
export(robust_vcov)
export(beta_loglik)
export(beta_score)
export(beta_hessian)

importFrom(stats, optim, plogis, qlogis, dbeta, pbeta, qbeta)
importFrom(stats, model.matrix, model.response, terms)
importFrom(MASS, ginv)